body{
    background-color: aqua;
}

body{
    background-color: black;
}
p{
    color: white;
}
.a{
    background-color: blue;
}
#b{
    background-color: brown;
}
td, th{
    border-style: solid;
    border-color: white;
    color: white
}
table{
    border-collapse: collapse;
}

#seat600{
    background-color: green;
}
/* Selector con espacio: todos los descendientes de ese tipo independientemente de la distancia del pariente*/
table abbr{
    font-weight: bold;
}

/* abbr dentro de tablas selector con table y >*/
table td > abbr, table td > abbr{
    font-weight: bold;
}