*{
    margin: 0;
    box-sizing: content-box;

}


header, aside, main, footer{
    border-style: solid;
    border-width: 1px;
    padding: 15px;
}

aside{
    height:60px;
}
main{
    
    height: calc(100vh- 60px - 60px - 50px);
    overflow: auto;
    
}
footer{
    height: 50px;
}
header{
    height: 60px;
}
